body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 255);
}

p {
    font-family: 'Geist Mono', Courier, monospace;
    font-weight: bold;
    color: rgb(255, 228, 196);
    background-color: rgb(0, 0, 255);
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.main-body p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero {
    font-family: 'Instrument Serif', serif;
    font-size: 16vw;
    color: rgb(255, 228, 196);
    margin-bottom: 1rem;
}

.zerofunctiontext {
    width: 100%;
    height: 100%;
    object-fit: fill;
}